:root {
    --primary-color: goldenrod;
    --secondary-color: gold;
    --tertiary-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    color: var(--secondary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
  }

  /* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: #c56e1d;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;  
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 45px;
    color: goldenrod;
    text-decoration: none;
    margin: 0;
  }

  header nav ul a {
    padding: 20px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: goldenrod;
    text-decoration: none;
  }

header nav ul a:hover {
    background: var(--secondary-color);
    color: rgb(172, 152, 41);
    border-radius: 15px;
    text-shadow: none;
  }
/* HEADER / NAVBAR STYLES END */

/*HERO IMAGE*/
.hero-image {
    background-image:url(images/mayur-deshpande-zZPeoLxLRyM-unsplash.jpg);
    height: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.75;
}    

.hero-text {
    font-size: 1.75vw;
    color: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0;    
    padding-right: 35px;
}
/*HERO IMAGE END*/

/* TITLE SECTIONS */
.column {
    float: left;
    padding: 75px;
    height: 300px;
    
}

.left {
    padding-top: center;
    color: goldenrod;
    justify-content: end;
  
  }
  
h3 {
    font-size: 30px;
    font-style: italic;
}

.right {
    display: flex;
    width: 75%;
}

p {
    padding-left: 20px;
    font-size: 20px;
    color: goldenrod;
  }

  img {
    display: flex;
    margin-left: 0;
    border-style: solid;
    color: gold;
    width: 200px;
    height: 150px;
  }

  /*WORK SECTION*/
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 15px;
      width: 80%;
  }
